body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-content: center;
  }
  
  #home-content {
    font-size: 1.5em;
  }

  #home-content h1 {
    margin: auto;
  }

  #home-content p {
    margin: auto;
  }
  
  button {
    background-image: linear-gradient(to bottom right, salmon, darkred);
    border: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    border-radius: 12px;
    cursor: pointer;
    position:relative;
    white-space: nowrap;
  }
  
  button:hover {
    background-image: linear-gradient(to bottom right, salmon, darkred);
    color: grey;
  }
  
  #begin-study-button,
  #begin-main-study-button {
    font-size: 25px;
    margin: 0 auto;
  }
  
  #claim-user-id {
    margin: 30px; 
    margin: 20px auto;
  }

  #begin-prestudy-button {
    margin: 20px auto;
  }

  #prestudy-notif {
    font-size: 1em;
  }
  
  #prestudy {
    font-size: 1em;
    text-align: left;
    top: 50px;
    left: 400px;
    right: 70px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #study-content {
    top: 50px;
    left: 400px;
    right: 70px;
  }
  
  #inputText {
    top: 620px;
    margin: 20 auto;
    width: 150px;
    height: 20px;
  }
  
  #prestudy button {
    top: 660px;
    margin: 0 auto; 
  }
  
  #prestudy-chart {
    top: 65px;
    margin: 0 auto;
  }
  
  #prestudy-question {
    top: 500px;
    margin: 0 auto;
  }
  
  #question {
    margin-top: 40px;
  }
  
  #reload-button {
    display: "block";
    margin: "20px auto";
  }

  #chart {
    /* position: absolute; */
    /* top: 10px;
    left: 20px; */
  }
  
  #options {
    width: fit-content;
    display: block;
    margin: 5px auto;
  }
  
  #options label {
    display: block;
    margin: 5px 0;
    text-align: left;
    cursor: pointer;
  }
  
  #options input[type="radio"],
  #options input[type="checkbox"] {
  }
  
  /* #study-content button {
    position: absolute;
    top: 720px;
    left: 20px;
  } */

  #submit-button {
    margin: 20px auto;
  }
  
  #study-content button:hover {
    background-image: linear-gradient(to bottom right, salmon, darkred);
    color: grey;
  }
  
  #congrats-cat {
    position: absolute;
    top: 30px;
    left: 200px;
    margin: 0 auto;
  }
  
  #calibration-screen p {
    position: absolute;
    font-size: 3em;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #chartPlaceholder {
    display: block; /* Ensure this is not 'none' */
  }

#myChart {
  /* aspect-ratio: 600 / 1000; */ /* Sets the aspect ratio to 600:1000 */
  /* width: 100%; */ /* You can control the width and height as needed */
  /* height: auto; */ /* Automatically adjusts based on the aspect ratio */
}