body {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .begin-alignment{
    display: flex;justify-content: center;align-items: center;text-align: center;  height: 100vh;
  }
  .home-content-alignment{
    display: none;flex-direction: column;justify-content: center;align-items: center;gap: 20px;height: 100vh; text-align: center;
  }
  .prestudy-alignment{
    display: none;flex-direction: column;justify-content: center;align-items: flex-start;height: 100vh;max-width: 60%;
  }
  .prestudy-question-alignment{
    display: none; flex-direction: column; margin-bottom: 20px;
  }
  .begin-main-study-alignment{
    display: none;justify-content: center;align-items: center;text-align: center;  height: 100vh;
  }

  .main-study {
    display: none;justify-content: center;align-items: center;text-align: center;  height: 100vh;
  }

  #home-content {
    font-size: 1.5em;
  }
 
  #begin-study-button{
    padding: 10px 20px;
    font-size: 25px; 
  }
  
  #begin-main-study-button {
    padding: 10px 20px;
    font-size: 25px;
  }
  
  #prestudy-notif {
    font-size: 1em;
  }
  
  #prestudy {
    font-size: 1em;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .study-button{
    background-image: linear-gradient(to bottom right, salmon, darkred);
    border: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    border-radius: 12px;
    margin: 0 auto;
    cursor: pointer;
  }
  
  
  .study-button:hover{
    background-image: linear-gradient(to bottom right, salmon, darkred);
    color: grey;
  }

  
  #prestudy button {
    margin: 0 auto;
  }
  
  #prestudy-chart {
    margin: 0 auto;
  }
  
  #prestudy-question {
    margin: 0 auto;
  }
  
 
  #question {
    position: relative;
    /* top: 600px;
    left: 20px; */
  }

  #reload-button {
    margin-top: 20px;
  }
  
  #chart {
    top: 10px;
    left: 20px;
  }
  
  #options {
    margin: auto;
    width: fit-content;
  }
  
  #options label {
    display: block;
    text-align: left;
    margin: 5px 0;
    cursor: pointer;
  }
  
  #options input[type="radio"],
  #options input[type="checkbox"] {
  }

  #submit-button {
    margin-top: 10px;
  }
  
  #study-content button:hover {
    background-image: linear-gradient(to bottom right, salmon, darkred);
    color: grey;
  }
  
  #congrats-cat {
    position: absolute;
    top: 30px;
    left: 200px;
    margin: 0 auto;
  }
  
  #calibration-screen p {
    position: absolute;
    font-size: 3em;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #claim-user-id {
    background-image: linear-gradient(to bottom right, salmon, darkred);
    border: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    border-radius: 12px;
    margin: 0 auto;
    cursor: pointer;
  }
  
  #chartPlaceholder {
    display: block; 
}

#myChart {
  aspect-ratio: 600 / 1000; /* Sets the aspect ratio to 600:1000 */
  width: 100%; /* You can control the width and height as needed */
  height: auto; /* Automatically adjusts based on the aspect ratio */
}